In [ ]:
#Numpy (Series)

In [12]:
import numpy as np
import pandas as pd

In [13]:
#1. Create a Series using the following data: data = [10, 20, 30, 40, 50]
obj =pd.Series([10, 20, 30, 40, 50])
obj

0    10
1    20
2    30
3    40
4    50
dtype: int64

In [14]:
#2. Assign the following index labels to the Series: index = ['a', 'b', 'c', 'd', 'e']
a=pd.Series([10, 20, 30, 40, 50],index = ['a', 'b', 'c', 'd', 'e'])
a

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [15]:
#3. Use index values to select the values of the Series for the labels 'b' and 'e'.
a['b']

20

In [16]:
a['e']

50

In [26]:
#4. Check if the Series contains the value 20 using a boolean array.
a[a==20]

b    20
dtype: int64

In [18]:
a==20

a    False
b     True
c    False
d    False
e    False
dtype: bool

In [27]:
#5. Check if the Series contains the values 15 and 20 using a boolean array.
a.isin([15,20])

a    False
b     True
c    False
d    False
e    False
dtype: bool

In [20]:
#6. Add the value 5 to each element of the Series using array operations.
a+5

a    15
b    25
c    35
d    45
e    55
dtype: int64

In [21]:
#7. Convert the Series into a Python dictionary and check its values.
a_dict = a.to_dict()
a_dict

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [58]:
#8. Pass a dictionary to the Series constructor and assign the following keys and values:
#{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
dic={'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50, 'f': 60}
pd.Series(dic)

a    10
b    20
c    30
d    40
e    50
f    60
dtype: int64

In [28]:
#9. Check if any values in the Series are null or not null using isnull() and notnull() methods.
a.isnull()

a    False
b    False
c    False
d    False
e    False
dtype: bool

In [29]:
a.notnull()

a    True
b    True
c    True
d    True
e    True
dtype: bool

In [34]:
#10. Create another Series using the following data: data2 = [20, 30, 40, 50, 60]
s =pd.Series([20, 30, 40, 50, 60])
s

0    20
1    30
2    40
3    50
4    60
dtype: int64

In [43]:
#11. Assign the following index labels to the second Series: index2 = ['b', 'c', 'd', 'e', 'f']
s=pd.Series([20, 30, 40, 50, 60,30,30],index = ['a', 'b', 'c', 'd', 'e','f','z'])
s

a    20
b    30
c    40
d    50
e    60
f    30
z    30
dtype: int64

In [55]:
#12. Add the two Series together and observe how pandas automatically aligns the data based on their index labels.
a+s

a     30.0
b     50.0
c     70.0
d     90.0
e    110.0
f      NaN
z      NaN
dtype: float64

In [56]:
#13. Use the unique() method to find the unique values in the Series.
s.unique()

array([20, 30, 40, 50, 60], dtype=int64)

In [52]:
#14. Use the sort_values() method to sort the Series in ascending order by value.
r=s.rank()
r

a    1.0
b    3.0
c    5.0
d    6.0
e    7.0
f    3.0
z    3.0
dtype: float64

In [53]:
r.sort_values()

a    1.0
b    3.0
f    3.0
z    3.0
c    5.0
d    6.0
e    7.0
dtype: float64

In [54]:
s.sort_values()

a    20
b    30
f    30
z    30
c    40
d    50
e    60
dtype: int64

In [57]:
#15. Save the Series to a text file using the to_csv() method.
s.to_csv()

',0\r\na,20\r\nb,30\r\nc,40\r\nd,50\r\ne,60\r\nf,30\r\nz,30\r\n'